# Created by .ignore support plugin (hsz.mobi)
.idea
/datafiles/
/libs/neural_networks/optimizer_obsoleted/
/libs/neural_networks/heatmaps/obsoleted/
/trained_models/
/trained_models/
/tmp/

/git_gitignore_readme
